{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home_styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Goldman&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-dark shadow p-3 mb-5" id="profile-wrapper">
					<img id="profile-pic" src="static/images/profile_image.jpg" >
					<hr>
					<h4 class='title'>Thomas Frank</h4>
					<p>Photographer and co-owner of GoldenPhotography</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100 shadow p-3 mb-5  border-dark">
					<h4 class='title'>GoldenPhotography</h4>
                    <hr>
                    <p>GoldenPhotography was founded in 2015 by a group of skilled photographers determined to provide their clients with stunning, 
                        priceless images whilst insuring only the best services. </p>

					<ul class="social-links">
						<li><img class="social" src="static/images/email.png"></li>
						<li><img class="social" src="static/images/facebook.png"></li>
						<li><img class="social" src="static/images/twitter.png"></li>
						<li><img class="social" src="static/images/email.png"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100 shadow p-3 mb-5">
					<h5 class='title'>Experience</h5>
					<hr>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100 shadow p-3 mb-5">
					<h5 class='title'>Skills</h5>
					<hr>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100 shadow p-3 mb-5">
					<h5 class='title'>Personal Information</h5>
					<hr>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100 shadow p-3 mb-5">
					<h5 class='title'>LongTerm Goals</h5>
				<hr>
				</div>
			</div>
		</div>
		<br>
	</div>

    
</body>
</html>